<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Directory</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/jquery-ui-1.12.1.custom/jquery-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqgrid/4.6.0/css/ui.jqgrid.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqgrid/4.6.0/js/jquery.jqGrid.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqgrid/4.6.0/js/i18n/grid.locale-ru.js"></script>
  <script src="javascripts/initJqGrid.js"></script>
</head>
<body>
  <div class="phonebook">
    <table id="list"></table>
    <div id="pager"></div>
  </div>
</body>
</html>